{{> header}}
{{> message}}

<main class="container mt-4">
  <h1>My Collections</h1>
  <p> cards the user currently owns.</p>

  <!-- empty for now  -->
  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th>Card Name</th>
        <th>Sport</th>
        <th>Attack</th>
        <th>Defense</th>
        <th>Health</th>
        <th>Overall</th>
        <th>Special Move</th> <!-- maybe idk -->
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</main>

{{> footer}}
